In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
ufo = pd.read_csv('ufo_sightings_clean.csv')
moon = pd.read_excel('lunar_cycle.xlsx')
moon = moon[(moon['date'] >= '1906-01-01') & (moon['date'] <= '2014-12-31')]
moon.reset_index(drop=True,inplace=True)
moon.head()

        date          moon phase
0 1906-01-02  first quarter moon
1 1906-01-10           full moon
2 1906-01-17  third quarter moon
3 1906-01-24            new moon
4 1906-02-01  first quarter moon

In [22]:
import datetime

def count_ufo_moon(x):
    
    try:
        sightings = ufo[(ufo['year']==x.year) & (ufo['month']==x.month) & (ufo['day']==x.day)]
        return len(sightings)
    except Exception as e: 
        print(e)
   
    return 0
    
moon['sightings'] = [count_ufo_moon(x) for x in moon['date']]

In [23]:
count = moon.groupby(['moon phase'])['sightings'].sum()
print(count)
print('The total amount of sightings matching moon data is ' + str(count.sum()))

moon phase
first quarter moon    2741
full moon             2747
new moon              2932
third quarter moon    2777
Name: sightings, dtype: int64
The total amount of sightings matching moon data is 11197

In [24]:
#percentage we would be expecting 
len(moon)/(365*(2014-1906))*100

13.680872653475392

In [25]:
#percentage that actually took place during main moon phases
count.sum()/len(ufo)*100

14.007280733577693

In [26]:
expected = count.sum() / 4
expected

2799.25

In [30]:
# Chi square test
from scipy.stats import chi2
stats.chisquare(count,expected)

Power_divergenceResult(statistic=8.659730284897739, pvalue=0.03417434930484819)

at significance level 0.025 this data is significantly different from what was expected.

when counting all the ufo sightings that have taken place during primary moon phases, we can see that sightings are disproportionately more likely to occur during the new moon